body {
  background: tan;
}

h1 {
  color: red;
  text-align: center;
}

.board {
  height: 300px;
  width: 307px;
  margin: 0 auto;
  align: center;
}

.left-col {
  float: left;
  background-color: orange;
  text-align: center;
}

.middle-col{
  float: left;
  background-color: orange;
  text-align: center;
}

.right-col{
  float: left;
  background-color: orange;
}

.box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.play-again {
  height: 50px;
  width: 307px;
  margin: 0 auto;
  background-color: tan;
}

button {
  position:relative;
    top:33%;
    left:39%;
}

.footer {
  width: 200px;
  height: 105px;
  position: relative; left: 43.5%;
}

.contact-info {
  position: ;
  float: left;
  position: relative; left: 10px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 1px;
  position: relative; right: 48px;
}
